* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
}

header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid seashell;
}

.logo {
  height: 50px;
  width: auto;
}

.menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu ol {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu li a {
  color: seashell;
}
