* {
  font-family: Helvetica;
  color: seashell;
  text-align: center;
  box-sizing: border-box;
  opacity: 0.9;
}

html,
body {
  max-width: 100%;
  margin: 0px;
  padding: 0px;

  font-size: 22px;
  background-color: black;
}

header {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  height: 69px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1000;
}

nav {
  display: flex;
}

nav ol {
  display: flex;
  list-style: none;
  gap: 20px;
}

.logo {
  height: 50px;
}

.intro {
  display: flex;
  align-items: center;
  aspect-ratio: 1200/700;

  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.heading {
  width: 100%;
  background-color: black;
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: black;
  width: 300px;
  opacity: 1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1000px;
}

.card-image {
  width: 300px;
  height: 200px;
}

.card-name {
  margin-top: 10px;
}

.locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.locations-title {
  margin: 15px;
}

.contact {
  height: 200px;
}

footer {
  display: flex;
}

.copyright {
  text-align: left;
  margin: 20px;
}
