/* GLOBALS */

* {
  box-sizing: border-box;
  color: seashell;
  opacity: 0.9;
  background-color: black;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  height: 69px;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid seashell;
  z-index: 10;
  background-color: black;
}

section {
  display: flex;
  position: relative;
  flex-direction: column;

  text-align: center;
  justify-content: center;
}

footer {
  padding: 20px;
}

/* HEADER */

.logo {
  height: 50px;
  width: auto;
}

.menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu ol {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.menu li a {
  margin: 0;
  padding: 0;
  color: seashell;
}

/* SECTIONS */

.intro {
  display: flex;
  aspect-ratio: 1200/700;
  justify-content: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.featured {
  width: 1000px;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  background-color: transparent;
}

.card {
  display: flex;
  flex-direction: column;
  opacity: 1;
  background-color: black;
}

.card-name {
  margin-top: 10px;
}

.card-image {
  width: 300px;
  height: 200px;
}

.locations {
  aspect-ratio: 1200/500;
}

.locations-background-image {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  z-index: -1;
}

.locations .card {
  width: 300px;
}

.locations h2 {
  margin-bottom: 15px;
  background-color: transparent;
}

.contact {
  height: 200px;
}

.copyright {
}
